.header
	display flex
	flex-flow row wrap
	align-items center
	height pxToRem(70px)
	background-color $color-background
	border-bottom 1px solid $color-border
	
	&__container
		display flex
		flex-flow row wrap
		align-items center
		justify-content space-between
		
	&__logo
		width pxToRem(40px)
		height pxToRem(40px)
		background-color salmon
		border-radius 50%