.HindRegular
	font-family 'Hind Vadodara', sans-serif
	font-weight 400
	
.HindSemi
	font-family 'Hind Vadodara', sans-serif
	font-weight 500
	
.HindBold
	font-family 'Hind Vadodara', sans-serif
	font-weight 600