.nav
	&__list
		display flex
		flex-flow row wrap
		align-items center
		
	&__item
		& + &
			margin-left pxToRem(30px)
			
	&__link
		&:hover
			color salmon
			
		&.is-active
			color salmon
			text-decoration underline